/* #400d40; 
    #4a154b 
    #12649E

*/
*{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
} 
header{
    display: flex;
    justify-content: center;
}
.total{
   
   justify-content: center;
    display:flex;
    align-items: center;
    height: 80px;
    
    margin-right: 40px;
    background-color:white;
    
}
#uld {
    
    display: flex;
    list-style: none;
    font-size: 15px;
    height: 30px;
    width: 643px;
    
    margin: 18px 0px 16px;
    padding: 0;
    
}
.nav{
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 98px;
    width:1086px;
    
}
.navl{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
   
    
}
.mainlog{
    height:36.5px;
    width: 100px;
    
}
.navR{
    
    height: 76px;
    width: 388px;
    display: flex;
    align-items: center;

}
#talksales{
    padding: 12px 16px;
    margin:0px 0px 0px 20px;
    height: 44px;
    width: 147px;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    border:1px solid #580858;
    color: #5b0a5b;
    font-weight: 540;

}
#getstarted{
    height: 44px;
    width: 134;
    padding: 12px 16px;
    margin:0px 0px 0px 20px;
    border-radius: 5px;
    background-color:#560858 ;
    font-size: 14px;
    color: white;
    border-color: transparent;
}
#search{
    font-size: 20px;
    padding-right: 12px;
}
#sign{
    color: black;
    text-decoration: none;
    margin: 0px 20px 0px 0px ;
    padding: 8px 0px;
}
.contentr{
    height: 1000px;
    
}
.content h1 {
    letter-spacing: -2px;
    text-align: center !important;
    font-size:3.125rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
}
.content span{
    color:#621462;
    
}
.getstart2{
    display: flex;
    height: 60px;
    margin-top: 20px;
    justify-content: center;

}
#getstart2{
    width:180px;
    font-size: medium;
    color: white;
    background-color: #621462;
    border-radius: 5px;
    border-color: transparent;
}
.text2{
    text-align:center;
    margin-top: 20px;
    font-size:medium;
    font-weight: 700;
}
.text2 span{
font-weight: 500;
}
.logos{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height:100px
}
.vide1{
    display: flex;
    justify-content: center;

}
.vid1{
    
    height: 580px;

}
.logo{
    height: 25px;
    margin-right: 4%;
}
.difc{
   z-index: -11;
    position:  absolute;
    top:650px;
    height: 450px;
    width: 100%;
    background-color: #F4EDE4;
}
.content2{
    padding: 0px;
    margin: 0px;
    height: 350px;
    width: auto;
    background-color: #F4EDE4;
   
}
.vide2{
    display: flex;
    justify-content: space-between;

   
}
.vid2{
    width: 600px;
    height: 345px;
    
}
#con2 {
    width: 600px;
}
#con2 h2{
    font-size: 50px;
}
#con2 h4{
    font-weight: 400;
}
#con2 a{
    color: #1264a3;
    font-size: medium;
}
.contentt3{
    padding-top:30px ;  
    height: 350px;
    width: auto;
    background-color: #F4EDE4;
    display: flex;
    justify-content: space-between ;
}
#con3{
    margin: 80px;
    width: 500px; 
}
.vid3,.vide3{
    width: 600px;
    height: 345px;
}
#con3 h2{
    font-size: 50px;
}
#con3 h4{
    font-weight: 400;
}
#con3 a{
    color: #1264a3;
    font-size: medium;
}
.content4{
    padding-top:100px;
    padding-bottom: 20px;
    height: 350px;
    width: auto;
    background-color: #F4EDE4;
   

}
#con4{
    margin: 30px 80px 80px 80px;
    width: 500px; 
}
#con4 h2{
    font-size: 50px;
}
#con4 h4{
    font-weight: 400;
}
#con4 a{
    color: #1264a3;
    font-size: medium;
}

.ania{
    text-decoration: none;


}
.ania:hover{
    text-decoration:underline;
    
    
   
}
.c4{
    margin-top:70px ;
    text-align: center; 
    
}
.c4 h1{
    font-size:50px;
    margin-bottom: 20px; 
}
.c4 p{
    font-size: 20px;
}
.cb4{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    height: 55px;

}
#meet{
    margin-right: 10px;
    padding: 0px 50px 0px 50px ;
    background-color: #621462;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
#talk{

    padding: 0px 50px 0px 50px ;
    font-weight: 600;
    border-radius: 5px;
    border-color: #490a49;
    border-style: solid;
}
.cp4{
     margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.cp4 div{
    width:205px;
}
.cp4 h1{
    font-size:65px;
    color: #621462;
}
.cp4 p{
    font-size: medium;
}
.content6{
    padding-top: 125px;
    display: flex;
    justify-content: space-between; 
    
}
.c5{
    padding-top: 50px;
    width: 600px;
    margin-right: 30px;
    margin-left: 40px;
    font-weight: 400;

}
.c5 i{
    font-size: 30px;

}
.c5 a{
    color: #1264a3;
    font-size: medium;
}
.c5 h5{
    margin-top: 20px;
}
.vide5{
    width: 665px;   
}
.vid5{
    height: 370px;
    border-top-right-radius: 190px;
    border-bottom-right-radius:190px;
}
.c6 p{
    margin-top: 80px;
    text-align: center;
    font-size: small;
    margin-bottom: 20PX;
}
.c71 img,.c72 img,.c73 img,.c74 img{
    height: 178px;
    margin: 12px;
    width: 248px;
}
.content7{
    background-color: #F4EDE4;
    height:580px
}
.c7{
    padding-top: 50px;
    text-align: center;
    
}
.c71 ,.c72 ,.c73 ,.c74{
    background-color: white;   
}
.c7m{
    height:450px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.c71c{
    padding-left: 20px;
    width:240px;}
.c71c h2{
    padding-bottom: 50px;
}
.c71{
    margin-left: 40px;
}


.c71 ,.c72 ,.c73,.c74{
    height: 400px;
    width:272px
    
}
.c71:hover, .c72:hover, .c73:hover, .c74:hover {
    transform: scale(1.07); 
    transition: transform 0.3s ease; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

main{
    padding-top: 100px;
}
.total {
    margin-top: 10px;
    height: 70px;
    border-radius: 50px;
    position: fixed; 
    top: 0;
    width: 95%;
    z-index: 999;
    
    
}
.c8{
    height: 400PX;
    background-color: hsl(0, 0%, 95%);
    display: flex;

   
}
.c81{
    height: 400px;
    width: 100% ;
    background-color: #4a154b;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}
/* }
.c82{
    height: 300px;
    width: 100% ;
    background-color: #4a154b;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
} */
.c8c{
    text-align: center;
    margin-top: 100px;
}
.c8c h1{
    color: white;
    font-size: 50px;
    letter-spacing: -1;
}
.c8b{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.c8b #tryforfree{
    height: 50px;
    width:180px;
    margin-right: 10px;
    font-size: medium;
    color: #4a154b;
    border-radius: 5px;
    font-weight: 500;
    background-color: white;
    border-color:transparent ;
}
.c8b #talktosales{
    height: 50px;
    width:170px;
    margin-right: 10px;
    font-size: medium;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    background-color:#4a154b ;
    border:1px solid white;
}
.c9{
    height: 100px;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#s1{
  margin:20px ;
}

.fa-brands{
    
    margin-right: 25px;
    font-size: large;
}
.content10{
    height:100vh;
    display: flex;
    background-color:  hsl(0, 0%, 98%);;

}

button{
    cursor: pointer;
}
.mlogo,.c10v2,.c10v3,.c10v4,.c10v5,.c10v6{
    margin-top: 50px;
}
.content10 UL{
    list-style: none;
    
}
.content10 UL p {
    line-height: 40px;
    font-weight: 500;
}
.ser{
    line-height: 35px;
    text-decoration: none;
    color: rgb(65, 64, 64);
}
.mlogo{
width: 250px;
}
.mlogo img{
    height: 80px;
    margin-left: 30px;
}
footer{
    font-weight:100;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    display: flex;
    list-style: none;
}
footer li {
    margin-left: 20px;
    line-height: 40px;
}
.fc{
    width:600px;
    text-align: right;
}
.ser:hover{
    color: #1264a3;
}
#search:hover{
    transform: scale(1.1) ;
    cursor: pointer;
}
#uld li:hover{
    transform: scale(1.1) ;
    cursor: pointer;
}
#sign:hover{
    transform: scale(1.1) ;
    cursor: pointer;
}
#talksales:hover{
    transform: scale(1.06);
    border:2px solid #400d40;
    color: #400d40;
}
#getstarted:hover{
    transform: scale(1.06);
    background-color: #400d40;
}
#getstart2:hover{
    transform: scale(1.06);
    background-color: #400d40;
}
#tryforfree:hover{
   
    opacity: 0.8;
}
#talktosales{
    
    opacity: 0.8;
}
#meet:hover{
    transform: scale(1.02);
    background-color: #400d40; 
    
}
#talk:hover{
    transform: scale(1.06);
    border:2px solid #400d40;
    color: #400d40;

}
#s1{ 
    background-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
